* {
    margin: 0;
    padding: 0;
}

@font-face {
  font-family: 'TheSansOfficeLF-Bold';
  src: url('TheSansOfficeLF-Bold.otf') format('opentype'); 
  font-weight: normal; 
  font-style: normal; 
}

body{
    font-family: TheSansOfficeLF-Bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#phone-container{
    display: flex;
    position: relative;
    width: 393px;
    height: 852px;
    border: 10px solid;
    border-radius: 24px;
    align-items: center;
    flex-direction: column;
}

#time-machine{
    display: flex;
    position: relative;
    width: 393px;
    height: 852px;
    border: 10px solid;
    border-radius: 24px;
    align-items: right;
    flex-direction: column;
}

#building-photo{
   max-width: 100%;
}

#multnomah-header{
  text-align: center;
}

#toggle-text{
display: none;
}

#dropdown{
display: none;
}

img {
    border: 3px solid black;
}

h2 {
    text-align: left;
    margin-bottom: 50px;
    margin-top: 20px;
    margin-left: -150px;
    color: #1E1656;
    filter: drop-shadow(1px 1px 1px #ffffff);
}

h3 {
    text-align: center;
    margin-bottom: 10px;
    color: black;
}

p {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    color: black;
}


#past-button, #future-button, #menu-button, #shiley-button {
    width: 350px;
    margin-top: 8px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 20px;
    border: solid 3px#ffffff;
    color: white;
    background-color: #1E1656;
    padding: 15px 40px 15px 40px; 
}

button.link{
  background:none;
  border:none;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#read-button {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
      transform: scale(1);
  }

  50% {
      transform: scale(1.1);
  }

  100% {
      transform: scale(1);
  }
}

button:hover {
    border: solid 3px#1E1656;
    color: #1E1656;
    background-color: #ffffff;
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width:100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
}

.dropdown button:hover {background-color: #ddd;}

.show {display: block;}

.creditText {
  margin-bottom: 20px;
  width: 350px;
 }
 
 #descriptionText {
  width: 360px;
  text-align: left;
 }

#buildingImage, #buildingText, #yearText {
  padding-bottom: 0px;
}

#buildingText{
  margin-top: 04px;
}