* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'TheSansOfficeLF-Bold';
  src: url('TheSansOfficeLF-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: TheSansOfficeLF-Bold;
  display: flex;
  justify-content: center;
  align-items: center;
}


#phone-container3 {
  display: none;
  width: 100vw;
  height: auto;
  align-items: center;
  flex-direction: column;
  background-color: white;
}


#creditBox {
  background-color: rgb(30, 22, 86);
  display: flex;
  position: relative;
  border: 10px transparent;
  border-radius: 24px;
  width: 90vw;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

#building-photo {
  max-width: 100%;
}

#multnomah-header {
  text-align: center;
}

#toggle-text {
  display: none;
}

#dropdown {
  display: none;
}

h1 {
  text-align: center;
  font-size: 7vmin;
}

h2 {
  text-align: left;
  margin-bottom: 50px;
  margin-top: 20px;
  margin-left: -150px;
  color: #1E1656;
  filter: drop-shadow(1px 1px 1px #ffffff);
}

h3 {
  text-align: center;
  margin-bottom: 10px;
  color: black;
}

p {
  font-family: TheSansOfficeLF-Plain;
  margin-left: 10px;
  color: black;
}

a:link,
:visited {
  color: #ffffff;
}

#past-button,
#future-button,
#menu-button,
#map-menu-button,
#shiley-button {
  width: 90vw;
  max-width: 380px;
  margin-top: 1vh;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 20px;
  border: solid 3px#ffffff;
  color: white;
  background-color: #1E1656;
  padding: 15px 40px 15px 40px;
}

#past-button,
#future-button {
  width: 70%;
  padding: 15px 30px 15px 30px;
}

button.link {
  background: none;
  border: none;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#read-button {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

button:hover {
  border: solid 3px#1E1656;
  color: #1E1656;
  background-color: #ffffff;
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: absolute;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
}

.dropdown button:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.timeline-btn-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  /* border: solid; */
}

.creditText {
  width: 350px;
  margin-bottom: 20px;
  text-align: center;
  color: #ffffff;
}

.creditTitle {
  color: #ffffff;
}

#descriptionText {
  width: 360px;
  text-align: left;
}

#buildingImage,
#buildingText,
#yearText {
  padding-bottom: 0px;
  
}

#buildingImage{
  margin-top: 80px;
}

#buildingText {
  margin-top: 04px;
  color: black;
}