* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#phone-container{
    display: flex;
    position: relative;
    width: 393px;
    height: 852px;
    border: 10px solid;
    border-radius: 24px;
    align-items: center;
    flex-direction: column;
}

#time-machine{
    display: flex;
    position: relative;
    width: 393px;
    height: 852px;
    border: 10px solid;
    border-radius: 24px;
    align-items: right;
    flex-direction: column;
}

img {
    border: 3px solid black;
}

h2 {
    font-family: sans-serif;
    text-align: left;
    margin-bottom: 50px;
    margin-top: 20px;
    margin-left: -150px;
    color: #1E1656;
    filter: drop-shadow(1px 1px 1px #ffffff);
}

h3 {
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 10px;
    color: #1E1656;
}

p {
    font-family: sans-serif;
    text-align: left;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 25px;
    color: #1E1656;
}

button {
    width: 350px;
    margin-top: 8px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 20px;
    border: solid 3px#ffffff;
    color: white;
    background-color: #1E1656;
    padding: 15px 40px 15px 40px; 
}

button:hover {
    border: solid 3px#1E1656;
    color: #1E1656;
    background-color: #ffffff;
}