language: node_js
node_js:
  - "18"
os: windows

before_install:
  - cd initialApp
  - curl -Os https://uploader.codecov.io/v0.5.0/windows/codecov.exe
  - mv codecov.exe codecov
  - chmod +x codecov

install:
  - npm install
  - npm install cross-env --no-save
  - npm install --save-dev jest

script:
  - npx jest --coverage || echo "Tests failed, continuing to generate coverage"
  - echo "Debugging coverage output"
  - ls -R coverage || echo "Coverage directory not found"
  - cat coverage/lcov.info || echo "lcov.info file not found"

after_script:
  ./codecov -t 77cc6ece-fd65-426a-b228-aef3d6b70a31 -v || echo "Codecov upload failed"





