language: node_js
node_js:
  - "18"
os: windows

before_install:
  - cd initialApp
  - curl -Os https://uploader.codecov.io/v0.5.0/windows/codecov.exe
  - mv codecov.exe codecov
  - chmod +x codecov

install:
  - npm ci
  - npm install cross-env --no-save
  - npm install --save-dev jest
  - npm i jest-environment-jsdom --save-dev

script:
  - npx jest --coverage || echo "Tests failed, continuing to generate coverage"
  - echo "Debugging coverage output"
  - ls -R coverage || echo "Coverage directory not found"
  - cat coverage/lcov.info || echo "lcov.info file not found"

after_script:
  - for i in {1..3}; do
      ./codecov -t 1ac3bc55-ba43-45ee-88d0-9883f527b4fd -v && break || echo "Retrying Codecov upload ($i)";
    done || echo "Codecov upload failed after 3 attempts"






