language: node_js
node_js:
  - "18"
os: windows

before_install:
  - cd initialApp

install:
  - npm install
  - npm install cross-env --no-save
  - npm install codecov --no-save

script:
  - npm test || echo "Tests failed, proceeding to upload coverage"
  - echo "Debugging coverage output"
  - ls -R coverage || echo "Coverage directory not found"
  - cat coverage/lcov.info || echo "lcov.info file not found"
  - npx codecov -f coverage/lcov.info




