language: node_js
node_js:
  - "18"
os: windows

before_install:
  - cd initialApp
  - choco install lcov # Install lcov for coverage reports
  - curl -Os https://uploader.codecov.io/latest/windows/codecov.exe
  - mv codecov.exe codecov # Rename to make it easier to use
  - chmod +x codecov # Ensure the file is executable

install:
  - npm install
  - npm install cross-env --no-save

script:
  - npm test || echo "Tests failed, proceeding to upload coverage"
  - echo "Debugging coverage output"
  - ls -R coverage || echo "Coverage directory not found"
  - cat coverage/lcov.info || echo "lcov.info file not found"

after_script:
  - ./codecov -cF javascript || echo "Codecov upload failed"


