language: node_js
node_js:
  - "22"

os: windows

before_install:
  - cd initialApp

install:
  - npm install
  - npm install cross-env --no-save
  - npm install codecov --no-save

  script:
  - npm test
  - npx codecov -f coverage/lcov.info --token=$77cc6ece-fd65-426a-b228-aef3d6b70a31

env:
  global:
    - CODECOV_TOKEN=<77cc6ece-fd65-426a-b228-aef3d6b70a31>
 

