* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#phone-container{
    display: flex;
    position: relative;
    width: 393px;
    height: 852px;
    border: 10px solid;
    border-radius: 24px;
    align-items: center;
    flex-direction: column;
}

#phone-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the entire div */
    transform: translate(-50%, -50%);
    z-index: -1; /* Places the video behind other content */
    opacity: 0.4;
    background-color: black;
}

.logo-container img{
    width: 280px;
    margin-top: 200px;
    filter: drop-shadow(1px 1px 1px rgb(255, 255, 255));
}

h1 {
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
    color: white;
    filter: drop-shadow(1px 1px 1px #1E1656);
}
button {
    width: 200px;
    margin-top: 12px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 20px;
    border: solid 3px#ffffff;
    color: white;
    background-color: #1E1656;
    padding: 15px 40px 15px 40px;
    
}