name: Coverage
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'

    - name: Install dependencies
      run: |
        cd initialApp
        npm install

    - name: Run tests and generate coverage
      run: |
        cd initialApp
        npm test -- --coverage

    - name: Debug coverage report
      run: |
        cd initialApp
        ls -R coverage || echo "Coverage directory not found"
        cat coverage/lcov.info || echo "lcov.info file not found"

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: 1ac3bc55-ba43-45ee-88d0-9883f527b4fd
        files: initialApp/coverage/lcov.info
        slug: mckinler2/cs341-spring-2025-cs341_sp25_avr





